@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Home Page";
}



<section class="jumbotron text-center">
    <div class="container">

        <h1>@localizer["WelcomeToCar.com"]</h1>
        <!-- <h1> @@ViewData["WelcomeToCar.com"]</h1>  -->
        <p>@localizer["paragraph"]</p>

        <p>
            <a href="#" class="btn btn-primary my-2"> search Cars</a>
        </p>
    </div>

</section>


<section class="border-danger">
    <h4>Marks</h4>
    <table>
        <tr>
            <td>
                <div class="font-weight-bold">
                    <a href="#">BMW</a>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="font-weight-bold">
                    <a href="#">Ford</a>
                </div>

            </td>
        </tr>

        <tr>
            <td>
                <div class="font-weight-bold">
                    <a href="#">Toyota</a>
                </div>

            </td>
        </tr>

        <tr>
            <td>
                <div class="font-weight-bold">
                    <a href="#">Volvo</a>
                </div>

            </td>
        </tr>

        <tr>
            <td>
                <div class="font-weight-bold">
                    <a href="#">Jeep</a>
                </div>

            </td>
        </tr>

        <tr>
            <td>
                <div class="font-weight-bold">
                    <a href="#">Smart</a>
                </div>

            </td>
        </tr>

    </table>
</section>

<div class="container">
    <h2 class="text-center"> car List </h2>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="img-responsive" src="~/images/2019-bmw-x1.jpg" height="200px" width="327px" />
                        <div class="card-body">
                            <p class="card-text">here is the short description of car</p>
                            <div class="d-flex justify-content-around-between align-items-center">
                                <a href="#" class="btn btn-sm btn-outline-secondary"> View details</a>
                            </div>
                            <small class="text.muted">bmw-x1</small>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="img-responsive" src="~/images/2014-bmw-2-.jpg" height="200px" width="323px" />
                                <div class="card-body">
                                    <p class="card-text">here is the short description of car</p>
                                    <div class="d-flex justify-content-around-between align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-secondary"> View details</a>
                                    </div>
                                    <small class="text.muted">bmw-2</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="img-responsive" src="~/images/2016-ford-edge1.jpg" height="200px" width="325px" />
                                <div class="card-body">
                                    <p class="card-text">here is the short description of car</p>
                                    <div class="d-flex justify-content-around-between align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-secondary"> View details</a>
                                    </div>
                                    <small class="text.muted">ford-edge1</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="img-responsive" src="~/images/2018-ford-focus-sedan-111.jpg" height="200px" width="325px" />
                                <div class="card-body">
                                    <p class="card-text">here is the short description of car</p>
                                    <div class="d-flex justify-content-around-between align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-secondary"> View details</a>
                                    </div>
                                    <small class="text.muted">ford-focus</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="img-responsive" src="~/images/toyota-hilux-2020-111.jpg" height="200px" width="325px" />
                                <div class="card-body">
                                    <p class="card-text">here is the short description of car</p>
                                    <div class="d-flex justify-content-around-between align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-secondary"> View details</a>
                                    </div>
                                    <small class="text.muted">toyota-hilux-2020</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="img-responsive" src="~/images/2013-toyota-verso-mpv-111.jpg" height="200px" width="325px" />
                                <div class="card-body">
                                    <p class="card-text">here is the short description of car</p>
                                    <div class="d-flex justify-content-around-between align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-secondary"> View details</a>
                                    </div>
                                    <small class="text.muted">toyota-verso</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="img-responsive" src="~/images/volvo-xc40-suv-.jpg" height="200px" width="325px" />
                                <div class="card-body">
                                    <p class="card-text">here is the short description of car</p>
                                    <div class="d-flex justify-content-around-between align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-secondary"> View details</a>
                                    </div>
                                    <small class="text.muted">volvo-xc40</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="img-responsive" src="~/images/2020-volvo-xc90-111.jpg" height="200px" width="325px" />
                                <div class="card-body">
                                    <p class="card-text">here is the short description of car</p>
                                    <div class="d-flex justify-content-around-between align-items-center">
                                        <a href="#" class="btn btn-sm btn-outline-secondary"> View details</a>
                                    </div>
                                    <small class="text.muted">volvo-2020</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>




